.sidebar {
  background-color: #040035;
  color: #ffffff;
  padding: 16px;
  width: 200px;
}

.card {
  background-color: #b4aae3;
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.profile-name {
  font-weight: bold;
  flex-grow: 1;
  text-align: center;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-details {
  display: flex;
  flex-direction: column;
}

.profile-image-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  color: #fff;
  border-radius: 50%;
}

.menu-items {
  margin-top: 20px;
}

.menu-item {
  padding: 10px;
  cursor: pointer;
  margin-bottom: 5px;
  border-radius: 5px;
}

.menu-item:hover {
  color: darkgray;
}
