.chat-msg {
  box-sizing: border-box;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  border-top: 0.5px solid whitesmoke;
  padding: 1rem 1rem;

  .logo-container {
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 1.5rem;
    }
  }

  .content {
    overflow-y: auto;
    white-space: pre-line;
    line-height: 1.5rem;
  }
}

.user-msg {
}

.bot-msg {
}
