.chatapp {
  display: flex;
  height: 100vh;

  .sidebar {
    flex: 0.15;
  }

  .chat-container {
    flex: 0.85;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .placeholder-container {
      flex: 0.85;
      overflow-y: scroll;
    }

    .chat-msgs-container {
      flex: 0.85;
      overflow-y: scroll;
    }

    .message-bar {
      flex: 0.15;

      .send-btn {
        color: white;

        width: 4rem;
        height: 2rem;
      }
    }
  }
}
