.chat-section {
  flex: 1;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
}

.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: hidden;
}

.msgs-container {
  height: 80vh;
  flex: 0.85;
  overflow-y: scroll;
}

.send-msg-container {
  height: 20vh;
  flex: 0.15;
  box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.5);
}

.learn-more-section {
  display: flex;
  align-items: center;
  background-color: #dcdaf4;
  margin-top: auto;
  padding: 0.4rem;
}

.top-part {
  padding: 0rem 1rem;
  background-color: #dcdaf4;
  border-top: 1px solid lightgray;
  color: #939393;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.learn-more-section {
  display: flex;
  width: 100%;
  margin-top: auto;
}

.message {
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.user {
  background-color: #f1f1f1;
  align-self: flex-end;
}

.question-form {
  grid-area: question;
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  padding: 2rem;
  width: 100%;
}

.question-form input {
  flex: 1;
  margin-right: 10px;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.question-form button {
  padding: 5px 15px;
  background-color: #9993e4;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.smooth-scroll {
  scroll-behavior: smooth;
  animation: scrollAnimation 0.5s ease-in-out forwards;
}

.send-button {
  width: 5rem;
  height: 2rem;
}
